<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coffee Settings</title>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" rel="stylesheet">

    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

        <div class="container h-100">
            <div class="row">


                <div class="col-sm bg-success d-flex justify-content-end p-0">

                    <form class="" id="sudokuBoard" th:method="POST">
                        <table class="bg-black border border-dark border-3">

                            <tr th:each="row: ${board}">
                                <td class="p-0 m-0" th:each="value: ${row}" >
                                    <div th:switch="${value}" th:with="divRow=${rowStat.index % 3 == 0 && rowStat.index != 0}, divCol=${valueStat.index % 3 == 0 && valueStat.index != 0}">
                                        <input th:class="${divCol}? (${divRow}? 'sudoku-cell1 form-control p-0 fs-5' : 'sudoku-cell2 form-control p-0 fs-5') : (${divRow}? 'sudoku-cell3 form-control p-0 fs-5' : 'sudoku-cell4 form-control p-0 fs-5')"  maxlength="3" th:case="0" type="text" value="">
                                        <input th:class="${divCol}? (${divRow}? 'sudoku-cell1 form-control bg-warning p-0 fs-5' : 'sudoku-cell2 form-control bg-warning p-0 fs-5') : (${divRow}? 'sudoku-cell3 form-control bg-warning p-0 fs-5' : 'sudoku-cell4 form-control bg-warning p-0 fs-5')"  th:case="*" th:value="${value}"
                                               type="text" readonly>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <input class="btn btn-secondary" type="submit" value="Check Solution">
                    </form>
                </div>


                <div class="col">
                   <p class="bg-danger"> One of three columns </p>
                </div>


            </div>
        </div>

    </div>
</div>

</body>

</html>